# Local Configurations
.clang-format
.clang-tidy
.vscode
.pio
scripts/__pycache__
*.swp
.DS_Store
.wifi.ini
.idea
**/.DS_Store

# ESP_IDF Files
idf_component.yml

# Project Build Directories
build
test/build
docs/build

# CMake Files
.cmake
**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json
@ONLY
Doxyfile.in
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
docs/CMakeDoxyfile.in
_deps/
Testing/

